<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jQuery UI Slider - Range slider</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	$( function() {
		$( "#slider-range" ).slider({
		range: true,
		min: 0,
		max: 500,
		values: [ 75, 300 ],
		slide: function( event, ui ) {
			$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
		}
		});
		$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
		" - $" + $( "#slider-range" ).slider( "values", 1 ) );
	} );
  	</script>
</head>
<div class="row">
	<div class="col-sm-2">
		<div class="content-section bg-transparent">
			<h3>Filters</h3>
			<h5>Categories:</h5>
			<div class="checkbox">
				<label><input type="checkbox" value="">Option 1</label>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" value="">Option 2</label>
			</div>
			<h5>Price range:</h5>
			<p>
					<label for="amount">Price range:</label>
					<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
				  </p>
				   
				  <div id="slider-range"></div>
			<div class="checkbox">
				<label><input type="checkbox" value="">Option 1</label>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" value="">Option 2</label>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="content-section">
			<form [formGroup]="" class="form-inline justify-content-center my-4">
				<input class="form-control w-75 shadow-sm mb-0 bg-white rounded" type="search" placeholder="Search for anything" aria-label="Search" value="">
				<button class="btn btn-primary mx-2 mb-0" type="submit" value="Search">Search</button>
			</form>
		</div>
		<div class="content-section">
			<h1>Welcome to BidIt!</h1>
			<h6>are you in for the ride?</h6>
			<h5>where all the auction is happening</h5>
		</div>
		<div class="content-section">
			Lorem 
		</div>
		<div class="content-section">
			Lore
		</div>
		<div class="content-section">
			Lorem ip
		</div>
		<div class="content-section">
			Lorem ipsum dolor
		</div>
		<div class="content-section">
			Lorem ipsum dolor sit
		</div>
		<div class="content-section">
			Lorem ipsum dolo
		</div>
		<div class="content-section">
			Lorem ipsu
		</div>
	</div>
	<div class="col-sm-2">
		<div class="content-section">
			<h3>Join BidIt Now!</h3>
			<h6>do not wait up</h6>
			<h5>this could be your last day alive!</h5>
			<br>
			<div class="text-center">
				<a class="btn btn-primary mb-0" href="/login">Login</a> 
				<br> 
				or 
				<br> 
				<a class="btn btn-primary mb-0" href="/register">Register</a>
				<br> now!
			</div>
			
			<br>
		</div>
		<!-- <app-login></app-login> -->
	</div>
</div>

