<div class="row">
	<div class="col-sm-2">
		<div class="content-section bg-transparent border-0">
			<h4>Categories</h4>
			<div id="accordion">
				<div *ngFor="let cat of authenticationService.main; index as i">
					<div  [attr.id]="'heading'+i">
					<h5 class="mb-0">
						<button class="btn btn-link pl-0" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true" [attr.aria-controls]="'collapse'+i">
						<h6 class="mb-0">{{cat.name}}</h6>
						</button>
					</h5>
					</div>
				
					<div [attr.id]="'collapse'+i" class="collapse" [attr.aria-labelledby]="'heading'+i" data-parent="#accordion">
						<div class="border-bottom">
							<ul class="list-unstyled">
                                <ng-container *ngFor="let sub of authenticationService.categories">
									<li *ngIf="sub.path == cat.name"><a class="hand btn-link pl-3" (click)="onCatClick(sub._id)">{{sub.name}}</a></li>
                                </ng-container>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- <strong>Minimum Price:</strong>
			<br>
			<input class="w-50" type="text" placeholder="From €">
			<br><br>
			<strong>Maximum Price:</strong>
			<br>
			<input class="w-50" type="text" placeholder="To €">
			<br> <br>
			<button class="btn btn-primary mb-0 ml-0" type="submit" value="Search">Search</button>		 -->
		</div>
	</div>
	<div class="col-sm-8">
		<form [formGroup]="" class="input-group form-inline justify-content-center my-4">
			<input class="form-control" type="text" placeholder="Search for anything" aria-label="Search" value="">
			<!-- <span class="input-group-btn"> -->
				<button class="btn btn-link input-group-btn" type="submit" value="Search" style="background-color: white !important; border: 1px solid #ced4da !important; border-top-left-radius: 0!important; border-bottom-left-radius: .0!important; border-left-color: transparent!important;"><i class="fa fa-search" aria-hidden="true"></i></button>
			<!-- </span> -->
		</form>
		<div class="container" >
			<h5>All Auctions</h5>
			<div class="text-center"  *ngIf="!loading">
				<img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> 
			</div>
			<div class="row" *ngIf="loading">
				<div *ngFor="let auction of auctions; index as i" class="card col-sm-4 my-1 mx-0.5 content-section">
					<!-- <img src="https://www.freeiconspng.com/uploads/no-image-icon-13.png" class="card-img-top img-fluid pt-2 mx-auto w-75" alt="..."> -->
					<div class="d-flex align-content-center border hand" style="height: 250px; line-height: 200px; overflow: hidden;"  (click)="onNameClick(auction._id)">
						<img [src]="transform(i)" class="card-img-top my-auto" style="width: 100%; height: auto; vertical-align: middle;">
					</div>
					<div class="card-title text-truncate py-2">
						<a class="btn btn-link text-left px-0" [title]="auction.name" (click)="onNameClick(auction._id)">{{auction.name}}</a>												
					</div>
					<div class="card-body px-0 pt-0">
						<p class="card-text text-truncate font-weight-light">{{auction.description}}</p>
						<!-- <a class="btn btn-primary small mx-auto" (click)="onNameClick(auction._id)" style="color: white;">Take a look</a> -->
					</div>
					<div class="card-footer">
						<span>Current price: <b>{{auction.currently}} $</b></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-sm-2">
		<div class="content-section">
			<div class="text-center">
				<div *ngIf="authenticationService.loggedin; else login" >
					<p>Our Suggestions:</p>
				</div>
				<ng-template #login>
					<h3>Join BidIt Now!</h3>
					<h6>do not wait up</h6>
					<h5>this could be your last day alive!</h5>
					<br>
					<a class="btn btn-primary mb-0" href="/login">Login</a>
					<br>
					or
					<br>
					<a class="btn btn-primary mb-0" href="/register">Sign up</a>
				</ng-template>
			</div>
			<br>
		</div>
	</div>
</div>