<div class="row">
	<div class="col-sm-2">
		<div class="content-section bg-transparent border-0">
			<h4>Categories</h4>
			<div id="accordion">
				<div>
					<div  id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link pl-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						<h6 class="mb-0">Clothing</h6>
						</button>
					</h5>
					</div>
				
					<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="border-bottom">
							<ul class="list-unstyled">
								<li><a class="btn-link pl-3" href="">Men</a></li>
								<li><a class="btn-link pl-3" href="">Women</a></li>
								<li><a class="btn-link pl-3" href="">Kids</a></li>
								<li><a class="btn-link pl-3" href="">Shoes</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<div id="headingTwo">
					<h5 class="mb-0">
						<button class="btn btn-link pl-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<h6 class="mb-0">Toys</h6>
						</button>
					</h5>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						<div >
							<ul class="list-unstyled">
								<li><a class="btn-link pl-3" href="">Infants</a></li>
								<li><a class="btn-link pl-3" href="">Toddlers</a></li>
								<li><a class="btn-link pl-3" href="">3-6 Years old</a></li>
								<li><a class="btn-link pl-3" href="">6-9 Years old</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<div id="headingThree">
						<h5 class="mb-0">
							<button class="btn btn-link pl-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							<h6 class="mb-0">Electronics</h6>
							</button>
						</h5>
					</div>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
						<div>
							<ul class="list-unstyled">
								<li><a class="btn-link pl-3" href="">Phone</a></li>
								<li><a class="btn-link pl-3" href="">Laptop</a></li>
								<li><a class="btn-link pl-3" href="">Television</a></li>
								<li><a class="btn-link pl-3" href="">PC</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<br>
			<strong>Minimum Price:</strong>
			<br>
			<input class="w-50" type="text" placeholder="From €">
			<br><br>
			<strong>Maximum Price:</strong>
			<br>
			<input class="w-50" type="text" placeholder="To €">
			<br> <br>
			<button class="btn btn-primary mb-0 ml-0" type="submit" value="Search">Search</button>		
		</div>
	</div>
	<div class="col-sm-8">
		<div class="content-section">
			<form [formGroup]="" class="form-inline justify-content-center my-4">
				<input class="form-control w-75 shadow-sm mb-0 bg-white rounded" type="search" placeholder="Search for anything" aria-label="Search" value="">
				<button class="btn btn-primary mx-2 mb-0" type="submit" value="Search">Search</button>
			</form>
		</div>
		<div class="content-section">
			<h1>Welcome to BidIt!</h1>
			<h5>Where all the auction is happening</h5>
		</div>
		<div class="my-grid">
			<div class="my-row">
				<div class="my-col">hi</div>
				<div class="my-col">hi</div>
				<div class="my-col">hi</div>
			</div>
			<div class="my-row">
				<div class="my-col">hi</div>
				<div class="my-col">hi</div>
				<div class="my-col">hi</div>
			</div>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="content-section">
			
			<div class="text-center">
				<div *ngIf="loggedin; else login" >
					<!-- Suggestions -->
					<p>Welcome {{ currentUser.username }}</p>
				</div>
				<ng-template #login>
					<h3>Join BidIt Now!</h3>
					<h6>do not wait up</h6>
					<h5>this could be your last day alive!</h5>
					<br>
					<a class="btn btn-primary mb-0" href="/login">Login</a>
					<br>
					or
					<br>
					<a class="btn btn-primary mb-0" href="/register">Sign up</a>
				</ng-template>
			</div>
			<br>
		</div>
	</div>
</div>