<!--The content below is only a placeholder and can be replaced.-->
<header class="site-header sticky-top shadow mb-6">
	<nav class="navbar navbar-expand-lg navbar-dark bg-steel">
	    <div class="container-fluid">
	        <a class="navbar-brand mr-4" routerLink="/">BidIt</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarToggle">
	            <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                    <ng-container *ngIf="authenticationService.loggedin">
                        <div *ngIf="authenticationService.approved">
                            <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
                        </div>
                        <div *ngIf="authenticationService.approved">
                            <a class="nav-item nav-link" routerLink="/messaging" routerLinkActive="active">Messages
                                <ng-container *ngIf="authenticationService.notifications != 0">
                                    <span class="badge badge-danger">{{authenticationService.notifications}}</span>
                                </ng-container>
                            </a>
                        </div>
                    </ng-container>
	                <!-- <li class="nav-item dropdown" id="drop1">
	                    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Items</a>
	                    <div class="dropdown-menu" id="drop2">
	                        <a class="dropdown-item" href="#">Wishlist</a>
	                        <div class="dropdown-divider"></div>
	                        <a class="dropdown-item" href="#">My Retail Shop</a>
	                    </div>
	                </li> -->
	                <a class="nav-item nav-link" routerLink="/admin" *ngIf="authenticationService.isAdmin" routerLinkActive="active">Admin</a>
	            </div>
	            <div class="navbar-nav my-2 my-lg-0" id="bar">
	                <div *ngIf="authenticationService.loggedin">
						<a class="btn d-inline nav-item nav-link" (click)="logout()">Logout</a>
					</div>
					<div *ngIf="!authenticationService.loggedin">
	                    <a class="d-inline nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
	                    <a class="d-inline nav-item nav-link" routerLink="/register" routerLinkActive="active">Sign up</a>
                    </div>
	            </div>
	        </div>
	    </div>
	</nav>
</header>
<div class="container-fluid">
	<alert></alert>
	<router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<!-- <div *ngIf="authenticationService.inAuction"> -->
    <!-- <div id="map" class="map"></div> -->
<!-- </div> -->
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-2 mt-md-0 mt-2">
                <h6 class="text-uppercase">BidIt</h6>
                    <p>All the... Auction, in one Place!</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-2 mb-md-0 mb-2">
                <h6 class="text-uppercase">Links</h6>
                <ul class="list-unstyled">
                    <div class="dropdown-divider"></div>
                    <div *ngIf="authenticationService.loggedin">
                        <li><a routerLink="/profile" class="btn-link">Profile</a></li>
                        <li><a (click)="logout()" class="btn-link">Logout</a></li>
                    </div>
                    <div *ngIf="!authenticationService.loggedin">
                        <li><a routerLink="/login" class="btn-link">Login</a></li>
                        <li><a routerLink="/register" class="btn-link">Sign Up</a></li>
                    </div>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-2">
                <h6 class="text-uppercase">More</h6>
                <ul class="list-unstyled">
                    <div class="dropdown-divider"></div>
                    <li><a href="#" class="btn-link">About</a></li>
                    <li><a href="#" class="btn-link">Help</a></li>
                    <li><a href="#" class="btn-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        <a style="color: #444444;" target="_blank" href="https://github.com/pelekoudasq/bidit"><i class="fa fa-github"></i></a>
    </div>
</footer>
