<br>
<div class="container" *ngIf="loading">
<br>
<h5>Messages</h5>
	<ul class="list-group">
		<ng-container *ngFor="let chat of chats; index as i">
			<li class="list-group-item rounded-0 border-right-0 border-left-0">
				<div class="row">
					<div class="col-sm-10">
						<button class="btn btn-link" (click)="onChatClick(chat)" [ngClass]="{notification: chat.notify == currentUser._id}">{{ chat.displayName }}
							<ng-container *ngIf="chat.notify == currentUser._id">
								<span class="badge badge-danger">New</span>
							</ng-container>
						</button>
					</div>
				</div>
			</li>
		</ng-container>
		<div *ngIf="currentUser.chats.length == 0" class="font-weight-light font-italic">No chats</div>
	</ul>
</div>
