.notification {
	font-weight:  bold !important;
}

.nav-pills .nav-link.active {
	background-color: #267174 !important;
	color: white !important;
}

.nav-pills .nav-link {
	color: #267174 !important;
}

.apprbutton {
	background-color: rgb(63, 151, 97);
	color: white;
}

.disbutton {
	background-color: rgb(194, 77, 73);
	color: white;
	padding: 3px 6px;
	margin-top: 4px!important;
}
