<br>
<div class="container">
<br>
<h5>Profile</h5>
<div class="card my-2">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-6 my-auto pt-2"><h6>My Personal Info</h6></div>
			<div class="col-sm-6" *ngIf="!edit"><a class="btn btn-primary float-right" (click)="onEditClick()" style="color: white;">Edit <i class="fa fa-edit fa-xs"></i></a></div>
			<div class="col-sm-6" *ngIf="edit"><a class="btn cancelbutton float-right" (click)="onEditClick()" style="color: white;">Cancel</a></div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm pb-2">
				<table *ngIf="!edit">
					<tr>
						<td class="pr-4" style="font-weight: normal;">Username: </td>
						<td class="h6" style="color: #444444;">{{ currentUser.username }}</td>
					</tr>
					<tr>
						<td class="pr-4" style="font-weight: normal;">First Name: </td>
						<td class="h6" style="color: #444444;">{{ currentUser.first_name }}</td>
					</tr>
					<tr>
						<td class="pr-4" style="font-weight: normal;">Last Name: </td>
						<td class="h6" style="color: #444444;">{{ currentUser.last_name }}</td>
					</tr>
					<tr>
						<td class="pr-4" style="font-weight: normal;">Email: </td>
						<td class="h6" style="color: #444444;">{{ currentUser.email }}</td>
					</tr>
					<tr>
						<td class="pr-4" style="font-weight: normal;">TIN: </td>
						<td class="h6" style="color: #444444;">{{ currentUser.afm }}</td>
					</tr>
				</table>
			</div>
			<div class="col-sm pb-2">
				<table *ngIf="!edit">
					<tr>
						<td class="pr-4" style="font-weight: normal;">Ratings (Seller/Bidder): </td>
						<td class="h6" style="color: #444444;">{{ currentUser.sellerRating }}/{{ currentUser.bidderRating }}</td>
					</tr>
					<tr>
						<td class="pr-4" style="font-weight: normal;">Phone: </td>
						<td class="h6" style="color: #444444;">{{ currentUser.phone }}</td>
					</tr>
					<tr>
						<td class="pr-4" style="font-weight: normal;">Address: </td>
						<td class="h6" style="color: #444444;">{{ currentUser.address.street }}, {{ currentUser.address.city }}, {{ currentUser.address.country }}</td>
					</tr>
					<tr>
						<td class="pr-4" style="font-weight: normal;">Zip: </td>
						<td class="h6" style="color: #444444;">{{ currentUser.address.zipcode }}</td>
					</tr>
					<tr>
						<td class="pr-4" style="font-weight: normal;">Long. / Lat.: </td>
						<td class="h6" style="color: #444444;">{{ currentUser.address.longitude }} / {{ currentUser.address.latitude }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="px-3">
		<app-editprofile *ngIf="edit"></app-editprofile>
	</div>
</div>
<br>	
<h5>Dashboard</h5>
<div class="text-center" *ngIf="!loading">
	<i class="fa fa-spinner fa-pulse fa-spin fa-fw"></i>
</div>
<div class="card my-2" *ngIf="loading">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-6 my-auto pt-2"><h6>My Auctions</h6></div>
			<div class="col-sm-6"><a class="btn btn-primary float-right" routerLink="/newauction">New Auction <i class="fa fa-plus fa-xs"></i></a></div>
		</div>
	</div>
	<ul class="list-group">
		<ng-container *ngFor="let auct of auctions; index as i">
			<li class="list-group-item rounded-0 border-right-0 border-left-0">
				<div class="row">
					<div class="col-sm-10">
						<button class="btn btn-link pl-0" type="button" data-toggle="collapse" [attr.data-target]=" '#collapse_auctions'+i" aria-expanded="false" aria-controls="collapse_auctions">
						<i class="fa fa-angle-down"></i>
						</button>
						<button class="btn btn-link" (click)="onNameClick(auct._id)">{{ auct.name }}</button>
					</div>
					<div class="col-sm-2">
						<ng-container *ngIf="!auct.started || (auct.number_of_bids == 0)" class="float-right">
							<div class="row">
								<ng-container *ngIf="auct.number_of_bids == 0 && !editA[i] && auct.started">
									<div class="col-sm-12 my-auto">
										<a class="btn btn-primary float-right" (click)="onEditAClick(auct._id, i)" style="color: white;" data-toggle="collapse" [attr.data-target]=" '#collapse_auctions'+i" aria-expanded="false" aria-controls="collapse_auctions">Edit <i class="fa fa-edit fa-xs"></i>
										</a>
									</div>
								</ng-container>
								<ng-container *ngIf="!editA[i] && !auct.started">
									<div class="col-sm-6 my-auto">
										<button [id]="auct._id" class="btn startbutton float-right" (click)="openModal('dates', auct._id)">Start auction 
											<i class="fa fa-clock-o"></i>
										</button>
									</div>
									<div class="col-sm-6 my-auto">
										<a class="btn btn-primary float-right" (click)="onEditAClick(auct._id, i)" style="color: white;" data-toggle="collapse" [attr.data-target]=" '#collapse_auctions'+i" aria-expanded="false" aria-controls="collapse_auctions">Edit <i class="fa fa-edit fa-xs"></i>
										</a>
									</div>
								</ng-container>
								<ng-container *ngIf="editA[i]">
									<div class="col-sm-6">
										<a class="btn cancelbutton float-right" (click)="onDelete(auct._id)" style="color: white;">Delete Auction <i class="fa fa-trash-o" aria-hidden="true"></i></a>
									</div>
									<div class="col-sm-6">
										<a class="btn btn-outline-danger float-right" (click)="onEditAClick(auct._id, i)" style="color: white;" data-toggle="collapse" [attr.data-target]=" '#collapse_auctions'+i" aria-expanded="false" aria-controls="collapse_auctions">Cancel</a>
									</div>
								</ng-container>
							</div>
						</ng-container>
					</div>
				</div>
				<jw-modal id="dates" class="text-center">
					<a (click)="closeModal('dates')" class="btn-link float-right" style="cursor: pointer!important;"><i class="fa fa-times"></i></a>
					<h6>Please set the ending date for the auction</h6>
					<form [formGroup]="endForm" (ngSubmit)="startAuction(curAuctForModal)">
						<div class="form-group">
							<div *ngIf="dateError" class="alert alert-danger" role="alert">
								End date must be later of today
							</div>
							<label for="enddate">Auction ends at:</label>
							<input id="enddate" formControlName="enddate" class="form-control" type="datetime-local" value="2019-10-20T13:45:00" [ngClass]="{ 'is-invalid': submitted && f.enddate?.errors }">
							<div *ngIf="submitted && f.enddate?.errors" class="invalid-feedback">
								<div *ngIf="f.enddate?.errors.required">End date is required</div>
							</div>
						</div>
						<div class="form-group">
							<a class="btn btn-link my-auto" (click)="closeModal('dates')" style="color: rgb(194, 77, 73)!important;">Cancel</a>
							<button [disabled]="endForm.invalid" class="btn btn-primary border rounded" style="color: white;">Start Auction <i class="fa fa-hourglass-start" aria-hidden="true"></i></button>
						</div>
					</form>
				</jw-modal>
				<div class="collapse" id="collapse_auctions{{i}}">
					<div class="card card-body mt-2 border-bottom-0 border-right-0 border-left-0 border-top rounded-0">
						<div class="row" *ngIf="!editA[i]">
							<div class="col-sm">
								<table>
									<tr>
										<td class="pr-4 h6" style="color: #444444;">Categories: </td>
										<td class="text-truncate" style="font-weight: normal;">
												<ng-container *ngFor="let cat of auct.categories; index as k">
													<i>{{cat}}</i>
													<ng-container *ngIf="auct.categories.length != k+1">
													<i>, </i>
													</ng-container>
												</ng-container>
										</td>
									</tr>
									<tr *ngIf="auct.started">
										<td class="pr-4 h6" style="color: #444444;">Currently at: </td>
										<td class="" style="font-weight: normal;"><i>{{auct.currently}} $</i></td>
									</tr>
									<tr>
										<td class="pr-4 h6" style="color: #444444;">Starting Price: </td>
										<td class="" style="font-weight: normal;"><i>{{auct.first_bid}} $</i></td>
									</tr>
								</table>
							</div>
							<div class="col-sm">
								<table *ngIf="auct.started">
									<tr>
										<td class="pr-4 h6" style="color: #444444;">Number of bids: </td>
										<td class="" style="font-weight: normal;"><i>{{auct.number_of_bids}}</i></td>
									</tr>
									<tr *ngIf="auct.started">
										<td class="pr-4 h6" style="color: #444444;">Starting Time: </td>
										<td class="" style="font-weight: normal;"><i>{{auct.startingDate | date:'fullDate' }}</i></td>
									</tr>
									<tr>
										<td class="pr-4 h6" style="color: #444444;">Ending Time: </td>
										<td class="" style="font-weight: normal;"><i>{{auct.endingDate | date:'fullDate' }}</i></td>
									</tr>
								</table>
							</div>
						</div>
						<app-editauction *ngIf="editA[i]"></app-editauction>
					</div>
				</div>
			</li>
		</ng-container>
		<div *ngIf="auctions == 0" class="font-weight-light font-italic pl-4">No auctions</div>
	</ul>
	<div class="card-header">
		<div class="pt-2">	
			<h6>My Bids</h6>
		</div>
	</div>
	<ul class="list-group">
			<ng-container *ngFor="let bid of bids; index as i">
				<li class="list-group-item rounded-0 border-right-0 border-left-0">
					<button class="btn btn-link pl-0" type="button" data-toggle="collapse" [attr.data-target]=" '#collapse_bids'+i" aria-expanded="false" aria-controls="collapse_bids">
					<i class="fa fa-angle-down"></i>
					</button>
					<button class="btn btn-link" (click)="onNameClick(bid.auction_id)">{{ bid.name }}</button>
					<div class="collapse" id="collapse_bids{{i}}">
						<div class="card card-body mt-2 border-bottom-0 border-right-0 border-left-0 border-top rounded-0">
							<div class="row">
								<div class="col-sm">
									<span class="font-italic">Your offer:</span><br>
									<span class="notstrong">Price:</span> {{bid.amount}} <span>$</span><br>
									<span class="notstrong">Time of offer:</span> {{bid.time}} <br>
								</div>
								<div class="col-sm">
									<span class="font-italic">Currently:</span><br>
									<span class="notstrong">Current Price:</span> {{bid.current}} <span>$</span><br>
									<span class="notstrong">Ending Time:</span> {{bid.ends}} <br>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ng-container>
			<div *ngIf="bids == 0" class="font-weight-light font-italic pl-4">No bids</div>
		</ul>
</div>
</div>
