<br>
<div class="container">
<br>
<h5>My Profile</h5>
<div class="content-section" *ngIf="loading">
	<div class="row">
		<div class="col-sm-6 my-auto"><h6>Personal Info</h6></div>
		<div class="col-sm-6" *ngIf="!edit"><a class="btn btn-primary float-right" (click)="onEditClick()" style="color: white;">Edit <i class="fa fa-edit fa-xs"></i></a></div>
		<div class="col-sm-6" *ngIf="edit"><a class="btn cancelbutton float-right" (click)="onEditClick()" style="color: white;">Cancel</a></div>
	</div>
	<table *ngIf="!edit">
		<tr>
			<td class="pr-4" style="font-weight: normal;">Username: </td>
			<td class="h6" style="color: #444444;">{{ currentUser.username }}</td>
		</tr>
		<tr>
			<td class="pr-4" style="font-weight: normal;">Ratings: </td>
			<td class="h6" style="color: #444444;">{{ currentUser.sellerRating }}/{{ currentUser.bidderRating }}</td>
		</tr>
		<tr>
			<td class="pr-4" style="font-weight: normal;">First Name: </td>
			<td class="h6" style="color: #444444;">{{ currentUser.first_name }}</td>
		</tr>
		<tr>
			<td class="pr-4" style="font-weight: normal;">Last Name: </td>
			<td class="h6" style="color: #444444;">{{ currentUser.last_name }}</td>
		</tr>
		<tr>
			<td class="pr-4" style="font-weight: normal;">Email: </td>
			<td class="h6" style="color: #444444;">{{ currentUser.email }}</td>
		</tr>
		<tr>
			<td class="pr-4" style="font-weight: normal;">Phone: </td>
			<td class="h6" style="color: #444444;">{{ currentUser.phone }}</td>
		</tr>
		<tr>
			<td class="pr-4" style="font-weight: normal;">Address: </td>
			<td class="h6" style="color: #444444;">{{ currentUser.address.street }}, {{ currentUser.address.city }}, {{ currentUser.address.country }}</td>
		</tr>
		<tr>
			<td class="pr-4" style="font-weight: normal;">Zip: </td>
			<td class="h6" style="color: #444444;">{{ currentUser.address.zipcode }}</td>
		</tr>
	</table>
	<app-editprofile *ngIf="edit"></app-editprofile>
</div>
<h5>My Dashboard</h5>
<div class="content-section" *ngIf="loading">
	<div class="row">
		<div class="col-sm-6 my-auto"><h6>My Auctions</h6></div>
		<div class="col-sm-6"><a class="btn btn-primary float-right" routerLink="/newauction">New Auction <i class="fa fa-plus fa-xs"></i></a></div>
	</div>
	<ul class="list-group pt-2">
		<ng-container *ngFor="let auct of auctions; index as i">
			<li class="list-group-item">
				<div class="row">
					<div class="col-sm-10">
						<button class="btn btn-link pl-0" type="button" data-toggle="collapse" [attr.data-target]=" '#collapse_auctions'+i" aria-expanded="false" aria-controls="collapse_auctions">
						<i class="fa fa-angle-down"></i>
						</button>
						<button class="btn btn-link" (click)="onNameClick(auct._id)">{{ auct.name }}</button>
					</div>
					<div class="col-sm-2">
						<ng-container *ngIf="!auct.started" class="float-right">
							<div class="row">
								<div class="col-sm-6 my-auto"><button [id]="auct._id" class="btn startbutton float-right" (click)="openModal('dates', auct._id)">Start auction <i class="fa fa-clock-o"></i></button></div>
								<div class="col-sm-6" *ngIf="!editA" ><a class="btn btn-primary float-right" (click)="onEditAClick(auct._id)" style="color: white;" data-toggle="collapse" [attr.data-target]=" '#collapse_auctions'+i" aria-expanded="false" aria-controls="collapse_auctions">Edit<i class="fa fa-edit fa-xs"></i></a></div>
								<div class="col-sm-6" *ngIf="editA"><a class="btn cancelbutton float-right" (click)="onEditAClick(auct._id)" style="color: white;" data-toggle="collapse" [attr.data-target]=" '#collapse_auctions'+i" aria-expanded="false" aria-controls="collapse_auctions">Cancel</a></div>
							</div>
					</ng-container>
					</div>
				</div>
				
				<!--  -->
				<jw-modal id="dates" class="text-center">
					<h6>Please set the ending date for the auction {{curAuctForModal}}</h6>
					<!-- datepicker from bootstrap -->
					<div class="form-inline float-center justify-content-center" id="end">
						<label for="end">Auction ends at: </label>
						<br>
						<input id="date" class="form-control mb-2 mr-sm-2 mb-sm-0" type="datetime-local" value="2019-10-20T13:45:00">
					</div>
					<br>
					<a (click)="startAuction(curAuctForModal)" class="btn btn-primary border rounded" style="color: white;">Start Auction</a>
				</jw-modal>
				<!--  -->

				<div class="collapse" id="collapse_auctions{{i}}">
					<div class="card card-body mt-2 border-bottom-0 border-right-0 border-left-0 border-top rounded-0">
						<div class="row" *ngIf="!editA">
							<div class="col-sm">
								<table>
									<tr>
										<td class="pr-4 h6" style="color: #444444;">Categories: </td>
										<td class="text-truncate" style="font-weight: normal;"><i>{{auct.categories}}</i></td>
									</tr>
									<tr *ngIf="auct.started">
										<td class="pr-4 h6" style="color: #444444;">Currently at: </td>
										<td class="" style="font-weight: normal;"><i>{{auct.currently}} $</i></td>
									</tr>
									<tr>
										<td class="pr-4 h6" style="color: #444444;">Starting Price: </td>
										<td class="" style="font-weight: normal;"><i>{{auct.first_bid}} $</i></td>
									</tr>
								</table>
							</div>
							<div class="col-sm">
								<table *ngIf="auct.started">
									<tr>
										<td class="pr-4 h6" style="color: #444444;">Number of bids: </td>
										<td class="" style="font-weight: normal;"><i>{{auct.number_of_bids}}</i></td>
									</tr>
									<tr *ngIf="auct.started">
										<td class="pr-4 h6" style="color: #444444;">Starting Time: </td>
										<td class="" style="font-weight: normal;"><i>{{auct.startingDate | date:'fullDate' }}</i></td>
									</tr>
									<tr>
										<td class="pr-4 h6" style="color: #444444;">Ending Time: </td>
										<td class="" style="font-weight: normal;"><i>{{auct.endingDate | date:'fullDate' }}</i></td>
									</tr>
								</table>
							</div>
						</div>
						<app-editauction *ngIf="editA"></app-editauction>				
					</div>
				</div>			
			</li>
		</ng-container>
		<div *ngIf="auctions == 0" class="font-weight-light font-italic">No auctions</div>
	</ul>
	<br><br>
	<h6>My Bids</h6>
	<ul class="list-group pt-1">
			<ng-container *ngFor="let bid of bids; index as i">
				<li class="list-group-item">
					<button class="btn btn-link pl-0" type="button" data-toggle="collapse" [attr.data-target]=" '#collapse_bids'+i" aria-expanded="false" aria-controls="collapse_bids">
					<i class="fa fa-angle-down"></i>
					</button>
					<button class="btn btn-link" (click)="onNameClick(bid.auction_id)">{{ bid.name }}</button>
					<!-- <button class="btn apprbutton float-right" >Start auction</button> -->
					<div class="collapse" id="collapse_bids{{i}}">
						<div class="card card-body mt-2 border-bottom-0 border-right-0 border-left-0 border-top rounded-0">
							<div class="row">
								<div class="col-sm">
									<span class="font-italic">Your offer:</span><br>
									<span class="notstrong">Price:</span> {{bid.amount}} <span>$</span><br>
									<span class="notstrong">Time of offer:</span> {{bid.time}} <br>
									<!-- <span class="notstrong">Starting Price:</span> {{bid.first_bid}} <span>$</span><br> -->
								</div>
								<div class="col-sm">
									<span class="font-italic">Currently:</span><br>
									<span class="notstrong">Current Price:</span> {{bid.current}} <span>$</span><br>
									<!-- <span class="notstrong">Starting Time:</span> {{auct.started}} <br> -->
									<span class="notstrong">Ending Time:</span> {{bid.ends}} <br>
								</div>
							</div>				
						</div>
					</div>			
				</li>
			</ng-container>
			<div *ngIf="bids == 0" class="font-weight-light font-italic">No bids</div>
		</ul>
	<br><br>
</div>

<!-- <nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a class="btn-link" href="/">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Profile</li>
	</ol>
</nav> -->
</div>
