<br>
<div class="container">
	<div class="text-center" *ngIf="!loading" >
		<i class="fa fa-spinner fa-pulse fa-spin fa-fw"></i>
	</div>
	<div *ngIf="loading">
		<div class="row">
			<div class="col-sm-4">
				<div class="content-section">
				 <div id="carousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<ng-container *ngFor="let photo of auction.photos; index as i">
							<ng-container *ngIf="i == 0">
								<div class="carousel-item active" data-thumb="0">
									<img [src]="transform(i)" style="max-height: 500px!important;max-width: 300px!important;">
								</div>
							</ng-container>
							<ng-container *ngIf="i != 0">
								<div class="carousel-item" data-thumb="0">
									<img [src]="transform(i)" style="max-height: 500px!important;max-width: 300px!important;">
								</div>
							</ng-container>
						</ng-container>
						<!-- <div class="carousel-item" data-thumb="0">
							<img src="http://placehold.it/350x250/ff00ff/fff&amp;text=Product+Image+3">
						</div>
						<div class="carousel-item" data-thumb="0">
							<img src="http://placehold.it/350x250/ffff00/000&amp;text=Product+Image+4">
						</div> -->
						<!-- <div class="carousel-item" data-thumb="1">
							<img src="http://placehold.it/350x250/7B1C8E/fff&amp;text=Product+Image+5">
						</div>
						<div class="carousel-item" data-thumb="1">
							<img src="http://placehold.it/350x250/9EF383/000&amp;text=Product+Image+6">
						</div>
						<div class="carousel-item" data-thumb="1">
							<img src="http://placehold.it/350x250/D64908/fff&amp;text=Product+Image+7">
						</div>
						<div class="carousel-item" data-thumb="1">
							<img src="http://placehold.it/350x250/E3A3A1/000&amp;text=Product+Image+8">
						</div> -->
					</div>
				</div> 
				<div class="clearfix">
					<div id="thumbcarousel" class="carousel slide" data-interval="false">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<ng-container *ngFor="let photo of auction.photos; index as i">
									<div data-target="#carousel" data-slide-to="i" class="thumb"><img [src]="transform(i)" style="max-height: 50!important; max-width: 100px!important"></div>
								</ng-container>
								<!-- <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="http://placehold.it/100/00ffff/000&amp;text=Product+Image+2"></div> -->
								<!-- <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="http://placehold.it/100/ff00ff/fff&amp;text=Product+Image+3"></div>
								<div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://placehold.it/100/ffff00/000&amp;text=Product+Image+4"></div> -->
							</div>
							<!-- <div class="carousel-item">
								<div data-target="#carousel" data-slide-to="4" class="thumb"><img src="http://placehold.it/100/612b65/fff&amp;text=Product+Image+5"></div>
								<div data-target="#carousel" data-slide-to="5" class="thumb"><img src="http://placehold.it/100/00ffcc/000&amp;text=Product+Image+6"></div>
								<div data-target="#carousel" data-slide-to="6" class="thumb"><img src="http://placehold.it/100/db371b/fff&amp;text=Product+Image+7"></div>
								<div data-target="#carousel" data-slide-to="7" class="thumb"><img src="http://placehold.it/100/feb8aa/000&amp;text=Product+Image+8"></div>
							</div> -->
						</div>
						<a class="carousel-control-prev" href="#thumbcarousel" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#thumbcarousel" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div> 
				</div>
					<!-- 	<img [src]="transform()" class="img-fluid"> -->
				</div>
			</div>
			<div class="col-sm-5">
				<div class="content-section" *ngIf="!editA">
					<h6>{{auction.name}}<br>
					<small style="font-size: 70%; color: #6c757d;">
						<ng-container *ngFor="let cat of auction.categories; index as k">
							<i>{{cat}}</i>
							<ng-container *ngIf="auction.categories.length != k+1">
							<i>, </i>
							</ng-container>
						</ng-container>
					</small></h6>
					<!-- <span class="notstrong small">Categories: </span> <span class="small">{{auction.categories}}</span> -->
					<!-- <br> -->
					<!-- <br> -->
					<div class="border-top ">
						<br>
						<p class="">{{ auction.description }}</p>
						
						<table class="table table-borderless table-sm">
							<tbody>
								<tr class="small">
									<td class="w-50 text-muted">Starting price:</td>
									<td class="text-left">{{ auction.first_bid }} $</td>
								</tr>
								<tr class="small" *ngIf="auction.started">
									<td class="w-50 text-muted">Current bid:</td>
									<td>{{ auction.currently }} $</td>
								</tr>
								<tr class="small" *ngIf="auction.started">
									<td class="w-50 text-muted">Total bids:</td>
									<td>{{ auction.number_of_bids }}</td>
								</tr>
								<tr *ngIf="auction.buy_price" class="small">
									<td class="w-50 text-muted">Buy out price: </td>
									<td>{{ auction.buy_price }} $</td>
								</tr>
								<tr class="small" *ngIf="auction.started">
									<td class="w-50 text-muted">This auction started at:</td>
									<td>{{ auction.startingDate| date:'fullDate' }}</td>
								</tr>
								<tr class="small" *ngIf="auction.started">
									<ng-container *ngIf="completed">
										<td class="w-50 text-muted">This auction ended at:</td>
									</ng-container>
									<ng-container *ngIf="!completed">
										<td class="w-50 text-muted">This auction ends at:</td>
									</ng-container>
									<td>{{ auction.endingDate | date:'fullDate' }}</td>
								</tr>
								<tr class="small">
									<td class="w-50 text-muted">Item location:</td>
									<td>{{ auction.location.name }}, {{ auction.country }}</td>
								</tr>
							</tbody>
						</table>
						<ng-container *ngIf="mapok">
							<iframe width="100%" height="210" style="border: none;" [src]="url"></iframe>
						</ng-container>
					</div>	
				</div>
				<div class="content-section" *ngIf="editA">
					<app-editauction></app-editauction>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="content-section">
					<h6>Seller Information</h6>
					<div class="border-top">
						<table class="table table-borderless table-sm">
							<tbody>
								<tr class="small">
									<td class="font-weight-bold" style="color: #267174">{{seller.username}}</td>
									<td>( {{seller.sellerRating}} <i class="fa fa-gavel" style="color: #267174"></i> )</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<ng-container *ngIf="currentUser">
					<ng-container *ngIf="currentUser._id != auction.seller_id">
						<ng-container *ngIf="auction.started && !completed">
							<form *ngIf="auction" [formGroup]="bidForm" (ngSubmit)="onSubmit()">
								<div class="form-group">
									<input type="number" formControlName="bid_price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bid_price?.errors }" />
									<div *ngIf="submitted && f.bid_price?.errors" class="invalid-feedback">
										<div *ngIf="f.bid_price?.errors.required">Enter a valid price</div>
									</div>
								</div>
								<ng-container *ngIf="!bidClicked">
									<button [disabled]="completed" type="button" class="btn btn-info btn-lg btn-block" (click)="btnClicked()">Bid Now!</button>
								</ng-container>
								<ng-container *ngIf="bidClicked">
									<div class="btn-group">
										<div class="form-group">
											<button type="submit" class="btn btn-primary btn-lg">Confirm</button>
											<button type="button" class="btn cancelbutton btn-lg" (click)="btnClicked()">Cancel</button>
										</div>
									</div>
								</ng-container>
							</form>
							<br>
							<button *ngIf="auction.buy_price" type="button" class="btn btn-primary btn-lg btn-block" (click)="buyNow()">Buy it Now</button>
						</ng-container>
						<ng-container *ngIf="completed && bids.length > 0 && (maxBid.bidder_id == currentUser._id)">
							<small>Congrats! You bought the product for {{maxBid.amount}}$.</small><br>
							<button (click)="onContactClick()" class="btn btn-primary btn-sm">Contact seller</button><br>
							<small>to finalize the purchase</small>
						</ng-container>
					</ng-container>
					<ng-container *ngIf="currentUser._id == auction.seller_id">
						<button [disabled]="auction.started && auction.number_of_bids>0 || completed" *ngIf="!editA" type="button" class="btn btn-primary btn-lg btn-block" (click)="onEditAClick(auction._id)">Edit Auction</button>
						<button *ngIf="!auction.started && editA" type="button" class="btn cancelbutton btn-lg btn-block" (click)="onEditAClick(auction._id)">Cancel Edit</button>
					</ng-container>
				</ng-container>
				<div class="content-section">
					<div class="text-center">
						<div *ngIf="authenticationService.loggedin; else login" >
							<p>Our Suggestions:</p>
							<i>under construction</i>
						</div>
						<ng-template #login>
							<h3>Join BidIt Now!</h3>
							<h6>do not wait up</h6>
							<h5>this could be your last day alive!</h5>
							<br>
							<a class="btn btn-primary mb-0" href="/login">Login</a>
							<br>
							or
							<br>
							<a class="btn btn-primary mb-0" href="/register">Sign up</a>
						</ng-template>
					</div>
					<br>
				</div>
			</div>
		</div>
		<!-- If user is the seller -->
		<ng-container *ngIf="authenticationService.loggedin && auction.number_of_bids>0">
		<!-- <div class="row"> -->
			<div class="card my-2" *ngIf="loading">
				<div class="card-header">
					<h6 class="pt-2">All offers</h6>
				</div>
				<ul class="list-group" >
					<ng-container *ngFor="let bid of sortBids; index as i">
						<li class="list-group-item rounded-0 border-right-0 border-left-0">
							<button class="btn btn-link pl-0" type="button" data-toggle="collapse" [attr.data-target]=" '#collapseExample'+i" aria-expanded="false" aria-controls="collapseExample">
							<i class="fa fa-angle-down"></i>
							</button>
							<span class="notstrong">Price:</span> {{bid.amount}} <span>$</span><br>
							<div class="collapse" id="collapseExample{{i}}">
								<div class="card card-body mt-2 border-bottom-0 border-right-0 border-left-0 border-top rounded-0">
									<div class="row">
										<div class="col-sm">
											<span class="notstrong">Time of offer:</span> {{bid.time | date:'fullDate' }} <br>
											<span class="notstrong">User:</span> {{bid.username}} <br>
										</div>
									</div>				
								</div>
							</div>			
						</li>
					</ng-container>
				</ul>
			</div>
		<!-- </div> -->
		</ng-container>
	</div>
</div>

<script>
	(function($){
		$('#thumbcarousel').carousel(0);
		var $thumbItems = $('#thumbcarousel .carousel-item');
		$('#carousel').on('slide.bs.carousel', function (event) {
		var $slide = $(event.relatedTarget);
		var thumbIndex = $slide.data('thumb');
		var curThumbIndex = $thumbItems.index($('#thumbcarousel .carousel-item.active').get(0));
			if (curThumbIndex>thumbIndex) {
				$('#thumbcarousel').one('slid.bs.carousel', function (event) {
					$('#thumbcarousel').carousel(thumbIndex);
				});
				if (curThumbIndex === ($thumbItems.length-1)) {
					$('#thumbcarousel').carousel('next');
				} else {
					$('#thumbcarousel').carousel(numThumbItems-1);
				}
			} else {
				$('#thumbcarousel').carousel(thumbIndex);
			}
		});
	})(jQuery);
</script>
	  