<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-row form-group">
        <div class="col">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="col">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <small id="passwordHelp" class="form-text text-muted">Enter your password.</small>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password Verification</label>
        <input type="password" formControlName="password1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <small id="passwordHelp2" class="form-text text-muted">Repeat your password for verification.</small>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="number" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Phone is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" formControlName="address" class="form-control" id="address" placeholder="75 Harvard St" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" >
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="city">City</label>
            <input type="text" formControlName="city" class="form-control" id="city" placeholder="Dedham, MA" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" >
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="country">Country</label>
            <input type="text" formControlName="country" class="form-control" id="country" placeholder="USA" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" >
            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">Country is required</div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="zipcode">Zip</label>
            <input type="text" formControlName="zipcode" class="form-control" id="zipcode" placeholder="02026" [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" >
            <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                <div *ngIf="f.zipcode.errors.required">Zipcode is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="longitude">Longitude</label>
            <input type="text" formControlName="longitude" class="form-control" id="longitude" [ngClass]="{ 'is-invalid': submitted && f.longitude.errors }" >
            <div *ngIf="submitted && f.longitude.errors" class="invalid-feedback">
                <div *ngIf="f.longitude.errors.required">Longitude is required</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="latitude">Latitude</label>
            <input type="text" formControlName="latitude" class="form-control" id="latitude" [ngClass]="{ 'is-invalid': submitted && f.latitude.errors }" >
            <div *ngIf="submitted && f.latitude.errors" class="invalid-feedback">
                <div *ngIf="f.latitude.errors.required">Latitude is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="afm">TIN</label>
        <input type="text" formControlName="afm" class="form-control" id="afm" [ngClass]="{ 'is-invalid': submitted && f.afm.errors }" >
        <div *ngIf="submitted && f.afm.errors" class="invalid-feedback">
            <div *ngIf="f.afm.errors.required">TIN is required</div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary w-75 shadow mb-0">Edit Personal Info</button>
        <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-spin fa-fw"></i> 
        <a (click)="onCancel()" class="btn btn-link w-25">Cancel</a>
    </div>
</form>
<jw-modal id="approval" class="text-center">
    <p>Your personal data has been successfully updated!</p>
    <p>For your own safety, you will now be asked to login again.</p>
    <br>
    <a (click)="logout()" class="btn-link border rounded">I completely understand. Let's go!</a>
</jw-modal>
